DATABASE_SERVER=AAAAA
DATABASE_USER=root
DATABASE_PASSWORD=contra
DATABASE_PORT=3006
DATABASE_BD=tu_db
DEBUG=True
BASE_URL= 
BASE_URL_FRONTEND=

SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

SECRET_KEY=tu-key
