DATABASE_SERVER=direccion-localhost
DATABASE_USER=nombre-usuario
DATABASE_PASSWORD=contraseña
DATABASE_PORT= numero-puerto
DATABASE_BD=nombre-basedata
DEBUG=True
BASE_URL= http://127.0.0.1:8000/
BASE_URL_FRONTEND= http://127.0.0.1:5173/login

#usando para pruebas https://mailtrap.io
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

SECRET_KEY=tu-key-proyecto-django
